services:
  nginx:
    volumes:
      - .:/usr/src/app
  webapp:
    environment:
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
    volumes:
      - .:/usr/src/app
  chatbot:
    environment:
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
    volumes:
      - .:/usr/src/app
  scheduler:
    environment:
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
    volumes:
      - .:/usr/src/app
